/* 

Style Hints: 

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/

.background {
	background-image: url(../images/pattern1.png);
	padding:0 15% 0 15%;
}

#mainContent {
	width:980px;
	background-color: white;
	margin:0 auto;
}

header {
	background-color: rgb(225,126,115);
}

h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}

h4 {
	font-size: 18px;
	text-transform: uppercase;
	font-family:cursive, Helvetica, sans-serif;
}

main {
	text-align: center;
	display: inline-block;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-family:cursive, Helvetica, sans-serif;
	text-decoration: underline;
	text-align: left;
	padding: 30px 30px 10px 30px;
}

p {
	font-size: 14px;
	font-family: "Time New Roman", sans-serif;
	color: black;
	text-align: left;
	padding: 10px 30px 0 30px;
}

.flowerImages {
	padding: 10px 0 30px 0;
}

#sunflowers {
	padding:4px;
	border:solid 3px grey;
}

#water {
	padding:4px;
	border:solid 3px grey;
}

#purple {
	padding:4px;
	border:solid 3px grey;
}

#ocean {
	padding:4px;
	border:solid 3px grey;
}

footer {
	color: #FFFFFF;
	background-color: rgb(225,126,115);
	text-align:right;
	padding: 5px;
	height: 50px;
}