/*

Style Hints:

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/
html {
	background-image: url('../images/pattern1.png');
	/* background-size: cover; */
	background-size: cover;
}

header {
	background-color: rgb(248, 133, 133);
	padding: 10px 10px 15px 10px;

}

body {
	font-size: .9rem;
	font-family: "Times New Roman", serif;
	color: black;
	background: #F3EBE9;
	max-width: 500px;
  margin: auto;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1 {
	font-size: 3rem;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}

h2 {
	font-size: 1.1rem;
	font-family: cursive, Helvetica, sans-serif;
	text-transform: uppercase;


}

.about {
	text-decoration: underline;
	margin: 5px;
	padding: 10px;
}

p {
	padding: 10px;
}

.photo-list {
	float: left;
	width: 23%;
	padding: 5px;
}

.photo:after {
	content: "";
	clear: both;
	display: table;
}

footer {
	background-color: rgb(248, 133, 133);
	padding: 10px 10px 15px 10px;
	text-align: right;
	color: white;
	font-size: 10px;
	font-weight: 600;
	margin-top: 8px;
}